@charset "UTF-8";

main {
    width: 950px;
    height: 325px;
    transform: translate(-50%, 70%);
}

main > section { display: block; }

#login-imagem {
    float: right;
    width: 475px;
    height: 325px;
    margin-bottom: 0;
    border-radius: 0 20px 20px 0;
}

h1 { font-size: 32px; }

p {
    font-size: 16px;
    margin: auto auto 5px 10px;
}

.dados {
    float: left;
    width: 455px;
    margin: auto auto 5px 10px;
}

.dados > input { width: 390px; }

#botoes { width: 950px; }

#entrar {
    width: 455px;
    margin-left: 10px;
}

a {
    width: 455px;
    height: 30px;
}
