@charset "UTF-8";

body { background: var(--cor2); }

main {
    width: 15.625em;
    height: 32.5em;
    transform: translate(-50%, 20%);
    transition: width 1s;
}

#login-imagem {
    width: 15.625em;
    height: 12.5em;
    margin-bottom: 0.625em;
    border-radius: 1.25em 1.25em 0 0;
}

p {
    font-size: 0.83125em;
    margin: auto auto 0.3125em 0.625em;
}

.dados {
    width: 14.375em;
    margin: auto auto 0.3125em auto;
}

.dados-icones {
    font-size: 1.875em;
}

.dados > input {
    padding: 0.625em;
    margin-left: 0.5625em;
    width: 9.75em;
}

#botoes { width: 14.375em; }

#entrar { width: 14.375em; }

a {
    width: 14.375em;
    height: 1.8125em;
}

@media print { .dados > input { border: 0 solid black; } }
