@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --cor1: #49a09d;
    --cor2: #5f2c82;
}

body {
    background: var(--cor2);
    position: relative;
}

main {
    background: #FFFFFF;
    width: 250px;
    height: 500px;
    border: 1px solid #000000;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.formulario-informacoes {
    background: var(--cor2);
    width: 200px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 5px;
}

#formulario-botoes {
    width: 200px;
    margin: auto;
}

#botao-entrar {
    margin: auto;
    margin-bottom: 5px;
    border-radius: 5px;
}

.cor-icons {
    color: white;
    vertical-align: middle;
}

.formulario-informacoes > input {
    background: #45b6b2;
    padding: 10px;
    border-radius: 5px;
}

#botao-entrar {
    background: var(--cor1);
    color: #FFFFFF;
    padding: 10px;
    width: 200px;
    cursor: pointer;
}

#botao-entrar:hover {
    background: #156663;
}

#botao-esquecer {
    color: #156663;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
}

#botao-esquecer:hover {
    background: #42d1cc;
}

#botao-esquecer > .material-icons {
    color: #156663;
}

#login-imagem {
    background: #49a09d url('../imagens/metal.jpg') no-repeat bottom center fixed;
    background-size: cover;
    width: 250px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 20px 20px 0 0;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

p {
    font-size: 13.3px;
    margin-bottom: 5px;
    margin-left: 10px;
}

a {
    display: block;
    border: 1px solid #42d1cc;
    width: 200px;
    height: 28px;
    text-align: center;
    color: #156663;
    text-decoration: none;
    font-size: 16px;
    padding-top: 10px;
    border-radius: 5px 5px 5px 5px;
}

a:hover {
    background: #42d1cc;
}

#icon-mail {
    font-size: 12px;
}