@charset "UTF-8";

body {
    margin: 0.1px;
    background-image: linear-gradient(270deg, var(--cor1), var(--cor2));
 }

main {
    width: 750px;
    height: 290px;
    transform: translate(-50%, 110%);
}

#login-imagem {
    float: left;
    width: 250px;
    height: 290px;
    border-radius: 20px 0 0 20px;
}

p {
    font-size: 13.3px;
    margin: auto auto 5px 10px;
}

.dados {
    width: 700px;
    margin: auto auto 5px auto;
}

.dados > input { width: 410px; }

#botoes { width: 250px; }

#entrar {
    margin-left: 10px;
    width: 470px;
}

a {
    width: 470px;
    height: 29px;
    margin-left: 10px;
}